body {
  font-family: "Chicle", cursive;
}

.bgColor {
  background-color: #ffbb00;
}

img {
  height: 100px;
  width: auto;
}

h1 {
  color: red;
}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.form-group {
  margin-bottom: 5px;
}

.list-group-item {
  background-color: #ffedcb;
  color: #005249;
  font-family: "Goblin One", cursive;
  font-stretch: expanded;
}

.btn-outline-danger {
  border-color: #aa8d5d;
  color: #aa8d5d;
  font-weight: bold;
}

.btn-outline-danger:hover {
  background-color: #aa8d5d;
  border-color: #aa8d5d;
}

.form-control {
  font-family: "Goblin One", cursive;
  font-stretch: expanded;
}
